.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    background-color: #003580;
    color: white;
    border-top: 1px dotted black;
    flex-wrap: wrap;
}

.icon{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: black;
}

